---
import logoStar from '../assets/logo-star.svg'
import { author } from '../sample'

const socials = [
  { icon: 'ri-tiktok-fill', link: author.tiktok },
	{ icon: 'ri-instagram-line', link: author.ig },
  { icon: 'ri-twitter-x-line', link: author.x },
]

---

<footer class="border-t-4 px-3 md:px-10 py-10">
    <div class="max-w-6xl mx-auto flex justify-center flex-col gap-5 md:gap-0 md:grid md:grid-cols-3 items-center">
      <div class="flex-1 font-bold">
        <a href="/" class="flex items-center gap-3 text-xl">
            <img src={logoStar.src} alt="logo" width="30" /> {author.nickname}
        </a>
      </div>
      <div class="text-center">
        <p>© {new Date().getFullYear()} {author.nickname}. All rights reserved.</p>
      </div>
      <div class="flex md:justify-end gap-5">
        {socials.map(item => ( 
          <a href={item.link} target="_blank" class="transition-all duration-200 hover:translate-y-[2px]"><i class={`${item.icon} text-2xl`}></i></a>
        ))}
      </div>
    </div>
   </footer>