---
import logoStar from '../assets/logo-star.svg'
import svgPinkStar from '../assets/pink-star.svg'
import { author, buy } from '../sample'

const links = [
    { name: 'Home', path: '/', target: '_self' },
    { name: 'Our Company', path: '/our-company/', target: '_self' },
    { name: 'Our Approach', path: '/our-approach/', target: '_self' },
    { 
        name: 'Our Solutions', 
        path: '/our-solutions/', 
        target: '_self',
        dropdown: [
            { name: 'Allied Health', path: '/our-solutions/allied-health/' },
            { name: 'Small Businesses', path: '/our-solutions/small-businesses/' },
            { name: 'Consultancy Business', path: '/our-solutions/consultancy-businesses/' },
            { name: 'Marketplace', path: '/marketplace/' }
        ]
    },
    { name: 'Social Media Program', path: '/social-media-program/', target: '_self' },
    { name: 'Insights', path: '/blog/', target: '_self' },
    { name: 'Contact', path: '/#hire', target: '_self' },
]

const { pathname } = Astro.url
---

<header class="relative border-b-3 p-7 overflow-hidden w-full">
    <img src={svgPinkStar.src} alt="svg" width="80" class="absolute -right-9 -top-4" />
    <img src={svgPinkStar.src} alt="svg" width="80" class="absolute -left-8 -bottom-5 hidden md:block" />


    <div class="flex border-3 border-black bg-white max-w-[310px] md:max-w-6xl w-full m-auto relative z-10">
        <!-- top boxes -->
        <div class="size-2 bg-white border-2 border-black absolute -top-2 -right-2"></div>
        <div class="size-2 bg-white border-2 border-black absolute -top-2 -left-2"></div>

        <!-- bottom boxes -->
        <div class="size-2 bg-white border-2 border-black absolute -bottom-2 -left-2"></div>
        <div class="size-2 bg-white border-2 border-black absolute -bottom-2 -right-2"></div>
    
        <nav class="flex w-full items-center p-2 md:p-0">
            <div class="flex-1 font-bold">
                <a href="/" class="flex items-center gap-2 pl-3">
                    <img src={logoStar.src} alt="logo" width="26" /> {author.nickname}
                </a>
            </div>
            <a href="#" class="flex md:hidden" id="menu-open">
                <i class="ri-menu-2-line text-2xl"></i>
            </a>
            <ul class="hidden md:flex">
                {links.map(item => ( 
                    <li class="border-l-2 border-black p-3 py-4 relative group z-50">
                        <a href={item.path} target={item.target} class="whitespace-nowrap relative flex items-center before:absolute before:left-0 before:bottom-1 before:h-[8px] before:w-0 before:bg-[var(--yellow)] before:transition-all before:duration-300 hover:before:w-full">
                            <span class="relative z-5">{item.name} {pathname == item.path ? '//' : ''}</span>
                            {item.dropdown && <span class="ml-1">▼</span>}
                        </a>
                        {item.dropdown && (
                            <div class="absolute top-full left-0 bg-white border-2 border-black shadow-[4px_4px_0px_rgba(0,0,0,0.3)] opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-[9999] min-w-[200px] max-w-[250px] right-0">
                                {item.dropdown.map(dropdownItem => (
                                    <a href={dropdownItem.path} class="block px-4 py-3 hover:bg-[var(--yellow)] border-b border-gray-200 last:border-b-0 whitespace-nowrap overflow-hidden text-ellipsis">
                                        {dropdownItem.name}
                                    </a>
                                ))}
                            </div>
                        )}
                    </li>
                ))}
            </ul>
        </nav>
    </div>
  </header>

  <div class="block md:hidden fixed left-0 top-0 h-full w-full bg-white z-20 p-3 transition-all duration-300 -translate-x-[100%]" id="menu-content">
    <div class="flex p-6">
        <h3 class="flex-1 font-bold uppercase">Menu</h3>
        <a href="#" id="menu-close">               
           <i class="ri-close-line text-3xl"></i>
        </a>
    </div>
    <ul class="flex flex-col justify-center items-center gap-4 md:hidden">
        {links.map(item => ( 
            <li class="py-3">
                <a href={item.path} target={item.target} class="p-3 whitespace-nowrap text-2xl font-bold">
                    {item.name} {pathname == item.path ? '//' : ''}
                </a>
                {item.dropdown && (
                    <div class="mt-2 pl-4">
                        {item.dropdown.map(dropdownItem => (
                            <a href={dropdownItem.path} class="block py-2 text-lg text-gray-600 hover:text-black">
                                {dropdownItem.name}
                            </a>
                        ))}
                    </div>
                )}
            </li>
        ))}
    </ul>
  </div>


<script>
document.addEventListener('DOMContentLoaded', function () {
    const menuContent = document.querySelector('#menu-content') 
    const menuOpen = document.querySelector('#menu-open') 
    const menuClose = document.querySelector('#menu-close') 


    menuOpen?.addEventListener('click', (e) => {
        e.preventDefault()
        menuContent?.classList.remove('-translate-x-[100%]')
    })

    menuClose?.addEventListener('click', (e) => {
        e.preventDefault()
        menuContent?.classList.add('-translate-x-[100%]')
    })


    menuContent?.querySelectorAll('li a').forEach(item => {
        item.addEventListener('click', (e) => {
            menuContent?.classList.add('-translate-x-[100%]')
        })
    })
})
</script>