---
import Button from "./Button.astro"
import Bars from "./Bars.astro"

import svgheroContent from '../assets/hero-content.svg'
import svgRedStar from '../assets/red-star.svg'
import svgIdea from '../assets/idea.svg'
import svgArrow from '../assets/arrow.svg'

import svgPinkStar from '../assets/pink-star.svg'
import svgString from '../assets/string.svg'

import { author, buy } from '../sample'

---


<section class="pb-20 relative">
    <div class="max-w-4xl mx-auto p-4 pt-20 md:pt-30">
      <div class="grid grid-cols-1 md:grid-cols-[60%_40%] items-center">
        <div class="flex flex-col gap-4 pr-0 md:pr-10">
          <img src={svgheroContent.src} alt="logo" width="80" />

            <h1 class="text-5xl font-medium">
              <span>Exceptional talent working <br> seamlessly for you,</span>
              <span class="relative">
                <span class="absolute bg-[var(--yellow)] w-full h-[50%] left-0 bottom-0 z-1"></span>
                <span class="relative z-5">guided by local NZ expert management</span>
              </span>
            </h1>
            <p class="text-xl">Philippines-based outsourcing solutions for New Zealand and Australian businesses</p>
            <p class="text-lg mt-4">Over 30 years of Philippines outsourcing experience with a fully incorporated entity and dedicated office environment.</p>
           <div class="flex mt-5">
             <Button text="Learn More About Us" link="/#services" target="_self" />
           </div>
        </div>
        <div class="relative mt-40 md:mt-0">
          <div class="flex absolute -top-20 left-0 z-10">
            <!-- name with smile icon -->
            <div class="flex transform -rotate-30 translate-y-3">
              <svg class="size-5" viewBox="0 0 37 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5479 4.4031C18.6713 5.80238 19.9271 9.81219 21.7001 11.2897C23.0602 12.3947 24.0665 11.888 24.3315 9.94798C24.6359 7.90326 23.1377 5.00064 21.4323 4.27109C20.1328 3.70088 19.9764 3.72964 19.5479 4.4031Z" fill="black"/>
                <path d="M7.84038 5.33376C6.96374 6.73304 8.21957 10.7429 9.99262 12.2204C11.3527 13.3254 12.359 12.8186 12.624 10.8786C12.9284 8.83392 11.4302 5.9313 9.72476 5.20175C8.42528 4.63154 8.26883 4.66031 7.84038 5.33376Z" fill="black"/>
                <path d="M2.88193 16.7075C3.24136 18.9226 7.35405 23.0018 11.0101 24.7375C12.1376 25.3003 14.0826 25.7031 15.8021 25.7769C18.5025 25.8751 18.8859 25.7851 22.3741 24.1786C25.7215 22.637 26.2387 22.2689 27.844 20.4042C29.889 17.9907 31.8424 12.8058 31.2223 11.3601C30.6796 10.095 29.8918 10.7176 28.3133 13.8252C26.5656 17.2272 25.5918 18.4981 23.558 19.9541C21.6144 21.3254 17.9796 22.3934 15.6935 22.2776C12.9776 22.1433 7.87127 19.3874 5.0947 16.5541C3.68105 15.1275 2.64514 15.1717 2.88193 16.7075Z" fill="black"/>
              </svg>
              <span class="uppercase font-black">{author.name}</span>
            </div>

            <img src={svgArrow.src} width="80" class="-translate-x-10" alt="arrow icon" />
          </div>

          <div class="relative p-8 bg-white">
            <img src={svgRedStar.src} width="80" alt="red-star" class="absolute bottom-1 right-1 z-10" />
            <img src={svgIdea.src} width="60" alt="idea" class="absolute top-16 -left-3 z-10" />   
            <img src={svgString.src} width="50" alt="string" class="absolute -top-6 -right-2 z-10" />             
          
             <div id="me" class="w-full h-[310px] border-2"></div>
             <Bars />
          </div>
        </div>

      </div>
    </div>

    <img src={svgPinkStar.src} alt="start" width="50" class="absolute -bottom-4" />
  </section>


  <style>
    #me{
     background-image: url('https://images.pexels.com/photos/1858175/pexels-photo-1858175.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
     background-position: top;
     background-size: cover;
    }
   </style>