---
import '../styles/global.css'
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import AppHeader from './Header.astro';
import AppFooter from './Footer.astro';
import CallToAction from './CallToAction.astro';

const styleSheet = {
    actions: 'text-gray-500 flex items-center gap-2 hover:text-gray-700',
}

const { frontmatter } = Astro.props;
---

<Layout>

<AppHeader />

<section class="mb-30 p-3">
    <div class="max-w-3xl mx-auto p-3 bg-white flex flex-col gap-7 border-3 mt-10">
        <Image src={frontmatter.image.url} alt="Head" width={100} height={100} class="w-full border-2" />
        <h1 class="title text-4xl font-black">{frontmatter.title}</h1>

        <div class="flex flex-col">
            <div class="flex border-t border-b border-gray-100 mb-5 py-4">
                <div class="flex-1 flex gap-6">
                    <a href="#" class={styleSheet.actions}><i class="ri-thumb-up-line text-xl"></i> {frontmatter.likes}</a>
                    <a href="#" class={styleSheet.actions}><i class="ri-chat-1-line text-xl"></i> {frontmatter.comments}</a>
                </div>
                <div class="flex gap-6">
                    <a href="#" class={styleSheet.actions}><i class="ri-bookmark-line text-xl"></i> </a>
                    <a href="#" class={styleSheet.actions}><i class="ri-share-forward-box-line text-xl"></i> </a>
                </div>
            </div>
        <slot />
    </div>
</section>

<CallToAction />
<AppFooter />

</Layout>
