---
import researchIcon from '../assets/services/research.svg'
import wireIcon from '../assets/services/wire.svg'
import uiIcon from '../assets/services/ui.svg'
import protoIcon from '../assets/services/proto.svg'

import svgPinkStar from '../assets/pink-star.svg'

const stats = [
  { name: `Staff Members`, value: '82' },
  { name: `Customers`, value: '486' },
  { name: `Processes Managed`, value: '1,753' },
  { name: `Years in Business`, value: '14' },
]

const services = [
  {
     name: `Consultancy`,
     desc: `Month-by-month review of current systems and optimizing workflows`,
     icon: researchIcon
  },
  {
     name: `Full-Time Talent Recruitment`,
     desc: `Recruit talent directly from Philippines with ongoing management`,
     icon: wireIcon
  },
  {
     name: `Cultural Integration`,
     desc: `Focus on seamless team integration and process replication`,
     icon: uiIcon
  },
  {
     name: `Business Growth`,
     desc: `Scalable solutions for improved efficiency and expansion`,
     icon: protoIcon
  },
]

---


<section class="relative px-3 md:px-10 overflow-hidden">
    <img src={svgPinkStar.src} alt="svg" width="80" class="absolute -right-8 bottom-0" />
  
    <div class="max-w-4xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-[60%_40%] py-10 relative">
        <div class="flex items-end">
          <h1 class="text-4xl">Comprehensive outsourcing solutions for your business growth</h1>
          <svg class="size-20" viewBox="0 0 37 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.5479 4.4031C18.6713 5.80238 19.9271 9.81219 21.7001 11.2897C23.0602 12.3947 24.0665 11.888 24.3315 9.94798C24.6359 7.90326 23.1377 5.00064 21.4323 4.27109C20.1328 3.70088 19.9764 3.72964 19.5479 4.4031Z" fill="black"/>
            <path d="M7.84038 5.33376C6.96374 6.73304 8.21957 10.7429 9.99262 12.2204C11.3527 13.3254 12.359 12.8186 12.624 10.8786C12.9284 8.83392 11.4302 5.9313 9.72476 5.20175C8.42528 4.63154 8.26883 4.66031 7.84038 5.33376Z" fill="black"/>
            <path d="M2.88193 16.7075C3.24136 18.9226 7.35405 23.0018 11.0101 24.7375C12.1376 25.3003 14.0826 25.7031 15.8021 25.7769C18.5025 25.8751 18.8859 25.7851 22.3741 24.1786C25.7215 22.637 26.2387 22.2689 27.844 20.4042C29.889 17.9907 31.8424 12.8058 31.2223 11.3601C30.6796 10.095 29.8918 10.7176 28.3133 13.8252C26.5656 17.2272 25.5918 18.4981 23.558 19.9541C21.6144 21.3254 17.9796 22.3934 15.6935 22.2776C12.9776 22.1433 7.87127 19.3874 5.0947 16.5541C3.68105 15.1275 2.64514 15.1717 2.88193 16.7075Z" fill="black"/>
          </svg>
        </div>
      </div>
  
      <div class="grid grid-cols-1 md:grid-cols-[30%_70%] border-t-2">
        <div class="flex flex-col border-l-2 border-r-2 md:border-b-2 md:border-r-0 md:border-l-0">
          {stats.map(item => ( 
            <div class="flex flex-col p-3 md:p-6  md:border-b-2 last:border-none">
              <h1 class="text-2xl font-medium">{item.value}</h1>
              <p class="text-sm">{item.name}</p>
            </div>
          ))}
        </div>
        <div class="grid grid-cols-2 border-r-2 border-t-2 md:border-r-0 md:border-t-0">
          {services.map(item => ( 
           <div class="flex flex-col gap-2 p-4 md:p-6 border-l-2 border-b-2">
             <img src={item.icon.src} width="40" alt="" />
             <h3 class="text-xl font-medium">{item.name}</h3>
             <p>{item.desc}</p>
           </div>
          ))}
        </div>
      </div>
  
    </div>
   </section>